.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/node_modules






























































# MONGO_URL=mongodb+srv://mydbuser:zcommerce@cluster0.c2n4e.mongodb.net/Zcommerce?retryWrites=true
# JWT_SEC=INp8IvdIyeMcoGAgFGoA61DdBglwwSqnXJZkgz8PSnw
# PASS_SEC=ifrat